.body {
  min-width: $breakpoint1;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $montserrat;
  color: $color1;

  background-color: $white;

  scroll-behavior: smooth;

  &--popup {
    width: 230px;
    min-width: 210px;
    padding: 10px;
    padding-bottom: 0;

    color: $color3;

    background-color: $color2;
  }
}
