@keyframes popupSlideIn {
  0% {
    transform: translateX(240px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes popupSlideOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(240px);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
