@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/subset-Montserrat-Regular.woff2") format("woff2"), url("../fonts/subset-Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/subset-Montserrat-Black.woff2") format("woff2"), url("../fonts/subset-Montserrat-Black.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/subset-Montserrat-Bold.woff2") format("woff2"), url("../fonts/subset-Montserrat-Bold.woff") format("woff");
}
