// Common
@import "../../node_modules/normalize-scss/sass/_normalize.scss";
@include normalize();
@import "fonts";
@import "variables";
@import "mixins";
@import "animations";
@import "scaffolding";

// Blocks
@import "blocks/container";
@import "blocks/body";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/search";
@import "blocks/aside";
@import "blocks/departments";
@import "blocks/employees";
@import "blocks/department";
@import "blocks/person";
@import "blocks/popup";
@import "blocks/spinner";
