// Imports
// =========================================================================

@import "normalize/normalize";

//Font-face
// =========================================================================

@font-face {
  font-weight: 400;
  font-family: "Merriweather";
  font-style: normal;

  src: url("../fonts/subset-Merriweather-Regular.woff2") format("woff2"), url("../fonts/subset-Merriweather-Regular.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Merriweather";
  font-style: normal;

  src: url("../fonts/subset-Merriweather-Bold.woff2") format("woff2"), url("../fonts/subset-Merriweather-Bold.woff") format("woff");
}
@font-face {
  font-weight: 900;
  font-family: "Merriweather";
  font-style: normal;

  src: url("../fonts/subset-Merriweather-Black.woff2") format("woff2"), url("../fonts/subset-Merriweather-Black.woff") format("woff");
}

// Fonts
// =========================================================================

$merriweather: "Merriweather", Georgia, serif;

// Colors
// =========================================================================

$white: #ffffff;
$black: #000000;
//https://artsexperiments.withgoogle.com/artpalette/colors/94919c-cbc7c8-f9ebdd-36346c-55505e
$color1: #55505e;
$color2: #556270;
$color3: #faf4ff;
$color4: #cbc7c8;
$color5: #94919c;
$color6: #8a6267;
$color7: #7a110d;
$color8: #e0f8ff;
$color9: #495a42;

// Breakpoints
// =========================================================================

$breakpoint1: 1190px;
$breakpoint2: 1420px;
$breakpoint3: 1650px;
$breakpoint4: 1880px;

@mixin respond-to($media) {
  @if $media == break0 {
    @media only screen and (max-width: $breakpoint1) {
      @content;
    }
  }
  @else if $media == break1 {
    @media only screen and (min-width: $breakpoint1 + 1) and (max-width: $breakpoint2 - 1) {
      @content;
    }
  }
  @else if $media == break2 {
    @media only screen and (min-width: $breakpoint2 + 1) and (max-width: $breakpoint3 - 1) {
      @content;
    }
  }
  @else if $media == break3 {
    @media only screen and (min-width: $breakpoint3 + 1) and (max-width: $breakpoint4 - 1) {
      @content;
    }
  }
  @else if $media == break4 {
    @media only screen and (min-width: $breakpoint4) {
      @content;
    }
  }
}

// Global styles
// =========================================================================

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: $color9;
  text-decoration: none;

  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    color: $color6;
  }
}

// Basic
// =========================================================================

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  max-width: $breakpoint1;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;@include respond-to (break2) {
    max-width: $breakpoint2;
  };@include respond-to (break3) {
    max-width: $breakpoint3;
  };@include respond-to (break4) {
    max-width: $breakpoint4;
  };@include respond-to (break4) {
    max-width: $breakpoint4;
  };
}

.body {
  min-width: $breakpoint1;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $merriweather;
  color: $color1;

  background-color: $white;

  scroll-behavior: smooth;
}

// Header
// =========================================================================

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 80px;
  margin-bottom: 40px;
  margin-left: 230px;
  padding-top: 10px;@include respond-to (break4) {
    margin-left: 460px;
  };
}

.header__heading {
  align-self: flex-end;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  font-weight: 900;
  font-size: 30px;
  line-height: 42px;
  vertical-align: bottom;
  text-align: center;
  color: $color1;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 1px;
}

// Main
// =========================================================================

// Aside
// =========================================================================

.aside {
  position: fixed;
  top: 10px;

  width: 210px;
  height: 100%;
  margin-right: 20px;
  overflow: auto;@include respond-to (break4) {
    width: 460px;
  };;
}

.aside__logo {
  max-width: 155px;
  height: auto;
  margin-bottom: 30px;
}

// Branch list
// =========================================================================

.branch {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.branch__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.branch__item {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  padding-left: 6px;

  font-size: 16px;
  line-height: 20px;
  color: $color2;

  border-left: 4px solid $color8;@include respond-to (break4) {
    font-size: 18px;
    line-height: 22px;
  };
}

.branch__item--active {
  font-weight: 700;

  border-left: 4px solid $color7;
  & a {
    color: $color6;
  }
}

// Search
// =========================================================================

.search-highlight {
  outline: 1px solid red;
}

// Departments list
// =========================================================================

.departments__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.departments__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;

  list-style: none;
}

.departments__item {
  padding-bottom: 5px;
  padding-left: 6px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  border-left: 4px solid $color8;

  transition: all 0.3s linear;

  @include respond-to (break4) {
    font-size: 14px;
    line-height: 18px;
  };
}

.departments__item--active {
  border-left: 4px solid $color7;
  & a {
    font-weight: 700;
    color: $color6;
  }
}

.departments__item--active a {
  border-bottom: 1px solid $color6;
}

// Employees
// =========================================================================

.employees {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-left: 230px;@include respond-to (break4) {
    margin-left: 460px;
  };
}

.employees__title {
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  text-align: center;
}

.department {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 10px;
  &:focus {
    outline: none;
  }
}

.employees__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

// Person card
// =========================================================================

.person {
  width: 210px;
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: $color3;
  border-width: 1px;
  border-style: solid;
  border-color: $color2;
  border-radius: 5px;
  box-shadow: 1px 2px 1px 3px rgba($color5, 0.2);

  transition: all 0.3s ease-in-out;
  &--highlight {
    background-color: $color8;
  }
  &:hover {
    background-color: $color4;
  }
}

.person__photo {
  width: 210px;
  height: 280px;

  border-width: 1px;
  border-style: solid;
  border-color: $color2;
  border-radius: 5px;
}

.person__info {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding: 5px;
}

.person__surname {
  width: 100%;
  margin-top: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: $color2;
}

.person__name {
  width: 100%;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $color2;
}

.person__post {
  width: 100%;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $color7;
}

.person__info-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;

  font-size: 12px;
  line-height: 14px;
  color: $color1;
}
