// Imports
// =========================================================================

@import "normalize/normalize";

// Global styles
// =========================================================================

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

// Fonts
// =========================================================================
