// Fonts
$montserrat: "Montserrat", "Arial", "Helvetica", serif;

// Colors
$white: #ffffff;
$black: #000000;
$color1: #55505e;
$color2: #556270;
$color3: #faf4ff;
$color4: #cbc7c8;
$color5: #94919c;
$color6: #8a6267;
$color7: #7a110d;
$color8: #e0f8ff;
$color9: #495a42;
$color10: #0055cc;
$color11: #976080;

// Breakpoints
$breakpoint1: 1190px;
$breakpoint2: 1420px;
$breakpoint3: 1650px;
$breakpoint4: 1880px;
